/* Ocultar completamente la barra de desplazamiento pero permitiendo el scroll */
.scrollbar-container::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbar-container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Para Firefox */
.scrollbar-container {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

/* Estilo para botones de navegación */
.scrollbar-container {
  position: relative;
}

/* Estilo para contenido del dropdown */
.category-dropdown-content {
  padding-right: 24px; /* Espacio para los botones de navegación */
}
